.Button{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Button button{
    width: 360px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #751aff;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
}
@media(max-width:470px){
    .Button button{
        width: 250px;
    }
}