.FinishIcon{
    margin-top: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    transform: translateY(80px) scale(0.8);
}
@media(max-width:470px){
    .FinishIcon{
        margin-top: 12px;
    }
}